.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }


  .wraper {
    width: 100vw; /* Ocupa todo el ancho de la pantalla */
    margin-left: 0; /* Asegúrate de que no haya márgenes a la izquierda */
    margin-right: 0; /* Asegúrate de que no haya márgenes a la derecha */
    display: flez;
    flex-direction: row;
    justify-content: stretch;
    flex-wrap: nowrap;
  }


  .invisible {
    display: none !important;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  